* text=auto
*.py text eol=lf
*.md text eol=lf
*.toml text eol=lf
*.yaml text eol=lf
*.yml text eol=lf
Makefile text eol=lf
*.sh text eol=lf
*.csv text eol=lf
*.json text eol=lf
*.ts text eol=lf
*.tsx text eol=lf
